<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- No App.Configuration
    <add key="recaptcha-secret-key" value="6LcPoQoTAAAAABDWAO5QneIrEigl9aqFGJ_AUiGV"/>
    <add key="recaptcha-public-key" value="6LcPoQoTAAAAAGCwybPpDBHx3-NZ73HafE-shOaw"/>-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
